 @model CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
   
}

<h2>Admin Categories</h2>
<hr />
@if (Model.Categories.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                
                <th style="width:150px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        

                        <a class="btn btn-primary btn-sm mr-2" href="/admin/EditCategory/@item.Id">Düzenle</a>


                        <form action="/admin/DeleteCategory" method="post" style="display:inline">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                        </form>

                    </td>
                </tr>



            }
        </tbody>


    </table>
    <p>
    <a asp-action="AddCategory" class="btn btn-success">Kategori Ekle</a>
</p>
   
}
else
{
    <div class="alert alert-warning">

        <h4>Ürün Bulunamadı</h4>
    </div>
}




